 @{
    ViewBag.Title = "Depoimentos";
    Layout = "Depoimentos";
    }

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/Depoimentos/Login.css" rel="stylesheet" type="text/css" />
    <script src="main.js"></script>
</head>

<body>
    <div class="formulario">

    <h1>Faça seu login</h1>

    @ViewBag.Mensagem
    <br>
    

    <form action="/Usuario/Login" method="Post">
        <label>Email</label>
        <input type="email" name="email" required = "true">
        <label>senha</label>
        <input type="password" name="senha" required = "true">
        <input type="submit" value="Logar">
    </form>


    <footer>
        <a href="/Usuario/Cadastrar">Cadastrar-se</a>
    </footer>

    </div>

    

</body>

</html>