<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="CSS/style.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <title>Check Point</title>
</head>

<body>
    <header class="cabeca">
        <div class="logo">
            <img src="IMG/logo_checkpoint.png" alt="logo_checkpoint">
        </div>
        <div class="toggle">
            <i class="fas fa-bars"></i>

        </div>
        <nav class="menu">
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="quemsomos.html">Quem Somos</a>
                </li>
                <li>
                    <a href="duvidas.html">Duvidas</a>
                </li>
                <li>
                    <a href="contato.html">Contato</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="banner">
    </div>

    <main class="corpo">
        <h1>Check Point</h1>

        <div class="timeline">
            <div class="container left">
                <div class="content">
                    <h2>Produto</h2>
                    <p>Lorem ipsum dolor sit amet, quo ei simul congue exerci, ad nec admodum perfecto mnesarchum, vim ea mazim
                        fierent detracto. Ea quis iuvaret expetendis his, te elit voluptua dignissim per, habeo iusto primis
                        ea eam.</p>
                </div>
            </div>
            <div class="container right">
                <div class="content">
                    <h2>Diferenciais</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                    </ul>
                </div>
            </div>
            <div class="container left">
                <div class="content">
                    <h2>Vantagens</h2>
                    <ul>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                        <li>Lorem ipsum dolor sit</li>
                    </ul>
                </div>
            </div>
            <section class="planos">
                <div class="plano1">
                    <h2>Free</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, maxime velit aut similique itaque autem?
                        Explicabo assumenda excepturi expedita, molestias autem dignissimos! Consectetur necessitatibus dolorem
                        numquam omnis, itaque ut. Voluptatibus!</p>
                    </p>
                    <span class="preco">
                        R$ 00,00
                    </span>
                    <input type="submit" name="enviar" value="Adquirir">


                </div>
                <div class="plano2">
                    <h2>Premium</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, maxime velit aut similique itaque autem?
                        Explicabo assumenda excepturi expedita, molestias autem dignissimos! Consectetur necessitatibus dolorem
                        numquam omnis, itaque ut. Voluptatibus!</p>
                    </p>
                    <span class="preco">
                        R$ 00,00
                    </span >
                    <input type="submit" name="enviar" value="Comprar">


                </div>
                <div class="plano3">
                    <h2>Basic</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, maxime velit aut similique itaque autem?
                        Explicabo assumenda excepturi expedita, molestias autem dignissimos! Consectetur necessitatibus dolorem
                        numquam omnis, itaque ut. Voluptatibus!</p>
                    </p>
                    <span class="preco">
                        R$ 00,00
                    </span>
                    <input type="submit" name="enviar" value="Comprar">


                </div>

            </section>
    </main>
    <footer class="rod">
        <div class="rod2">
            <div class="redes">
                <h3>Redes sociais</h3>
                <div class="icons">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-youtube"></i>
                    <i class="fab fa-google-plus-square"></i>
                </div>
            </div>
            <img src="IMG/logo_checkpoint.png" alt="logo_checkpoint">
            <div class="localiza">
                <h3>Localização</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.9442945940973!2d-46.64993388523624!3d-23.534505884696184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5841eb08f711%3A0x37f9ffe36ccb8f5d!2sAlameda+Bar%C3%A3o+de+Limeira+-+Campos+El%C3%ADseos%2C+S%C3%A3o+Paulo+-+SP!5e0!3m2!1spt-BR!2sbr!4v1536582912660"
                    width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>


            </div>
        </div>
    </footer>
    <div class="chat">
            <i class="fas fa-comment"></i>
        </div>


    </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('.toggle').click(function () {
            $('ul').toggleClass('active');
        })
    })
</script>



</html>